* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
    width: 280px;
    background-color: rgb(16, 16, 47);
    min-height: 100vh;
    position: fixed;
}

h3 {
    margin-top: 20px;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    position: relative;
    left: 10%;
    border: 1px dashed #fff;
}

ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;    
    flex-direction: column;
    list-style-type: none;
    color: #fff;
    min-height: 100vh;
}

ul li:nth-child(2) {
    color: red;
}

li {
    margin-top: 20px;
    font-size: 1.2rem;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
    
    
}

a {
    text-decoration: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.2s ease;
}

a:hover {
    color: #000;
    background-color: #ffffff;
    transform: scale(1.1);
}

li:nth-child(5) {
    margin-top: 260px;
}

.container {
    width: calc(100% - 280px);
    background-color: rgb(209, 217, 255);
    position: absolute;
    left: 280px;
    min-height: 100vh;
    /* position: fixed; */
}



.headers {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 10px;
}

.headers button {
    border: none;
    outline: none;
    padding: 0.5rem;
    background-color: rgb(16, 16, 47);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.notes {
    /* background-color: aqua; */
    margin: 20px;
}

.note-preview {
    background-color: #fff;
    padding: 1.2rem 0.5rem;
    margin-top: 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 90%;
    position: relative;
    left: 5%;
}
.note-preview:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 8px rgba(16, 16, 47, 0.413);
    
}



